

/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
.login-header{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Fugaz One', cursive;
}


.login {
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.bg-login{
  background: #eaeaea;
  border-radius: 10px;
}